@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-container {
    padding-left: 0;
    padding-right: 0;
  }

  .advantages-subtitle {
    text-align: left;
  }

  .advantages-list {
    column-gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 54px) / 2);
  }

  .team-list {
    gap: 64px 24px;

    justify-content: center;
  }

  .customers-list {
    gap: 72px 24px;
    justify-content: center;
  }

  .customers-item-link {
    width: 168px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
  }

  .footer-container {
    display: flex;
    max-width: 584px;
    flex-wrap: wrap;
  }

  .footer-container-logo {
    margin-right: 24px;
    align-items: start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-subscribe {
    align-items: start;
  }

  .footer-link-container {
    align-items: start;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-subtitle {
    text-align: left;
    font-size: 20px;

    font-weight: 500;
  }

  .advantages-item-text {
    font-weight: 400;
  }

  .second-section-container {
    display: flex;
  }

  .doing {
    display: flex;
    padding-bottom: 120px;
  }

  .doing-title {
    color: var(--accent-color);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
  }

  .doing-list {
    display: flex;

    gap: 24px;
  }

  .doing-list-item {
    width: calc((100% - 48px) / 3);
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
  }

  .customers-item-link {
    width: 168px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer-container {
    display: flex;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container-logo {
    margin-right: 120px;
    align-items: start;
  }

  .footer-link-container {
    align-items: start;
  }

  .footer-text-two {
    padding-top: 0;
  }

  .footer-subscribe {
    margin-left: 80px;
    align-items: start;
  }

  .footer-input {
    width: 264px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}
